
.main-header {
  text-align:center;
}

/* ============ Search Bar =========== */

.searchbar {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.searchbar-input {
  border: 0px solid;
  border-bottom: 2px solid black;
  width: 600px;
  font-size: 4.9rem;
  outline: none;
  color: #606060;
  display: none;
}
  
.fa-times {
  display: none;
  font-size: 5rem;
  cursor: pointer;
}
  
.fa-search {
  font-size: 5rem;
  cursor: pointer;
}


/* ============ Giphy Listings =========== */

.giphy-list ul {
  text-align:center;
  list-style-type: none;
}

.giphy-list ul * {
  margin: 20px 0;
}

.user-description {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  display: none;
}


.user-avatar {
  width: 40px;
  height: 40px;
}

.user-avatar:hover {
  cursor: pointer;
}
